.tableOutput{
    margin: 0 auto;
    tr {
        border: 1px solid #282c34;
        th {
            background-color: #dddddd;
            padding: 5px 10px;
        }
        td {
            background-color: #dddddd;
        }
    }
}