.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerMenu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0 10px;

  &:hover {
    cursor: pointer;
  }
}

.itemMenu {
  margin: 0 20px;
}

.menu {
  display: block;
  position: relative;
  cursor: pointer;
  color: black;
  text-decoration: none;

  &:hover {
    .arrowImg {
      transform: rotate(-90deg);
    }
  }
}


.menuTitle {
  display: block;
  width: 150px;
  height: 40px;
  padding: 12px 0 0;
  background: #9dc852;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s background-color;
}

.titleItem {
  display: flex;
  justify-content: center;
  align-items: center;

  .arrowImg {
    height: 20px;
    width: 20px;
    padding-left: 10px;
  }
}

.titleMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  .title {
    margin: 0 10px;
  }
}

.dropdownMenu {
  list-style-type: none;
  min-width: 100%;
  padding: 0;
  position: absolute;
  background: #ebebeb;
  z-index: 100;
  transition: 0.5s padding,
  0.5s background;
}

.menu:not(:hover) > .dropdownMenu:after {
  border-top-color: #dddddd;
}

.menu:not(:hover) > .titleMenu:after {
  border-bottom-color: #dddddd;
}

.dropdownMenu > * {
  overflow: hidden;
  height: 30px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0);
  white-space: nowrap;
  transition: 0.5s height cubic-bezier(.73, .32, .34, 1.5),
  0.5s padding cubic-bezier(.73, .32, .34, 1.5),
  0.5s margin cubic-bezier(.73, .32, .34, 1.5),
  0.5s 0.2s color,
  0.2s background-color;
}

.dropdownMenu > *:hover {
  background: rgba(0, 0, 0, 0.1);
}

.menu:not(:hover) > .dropdownMenu > * {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgba(25, 25, 25, 0);
  transition: 0.5s 0.1s height,
  0.5s 0.1s padding,
  0.5s 0.1s margin,
  0.3s color,
  0.6s visibility;
  z-index: 99;
}

.disabled:nth-child(-n+2) {
  display: none;
}

.input {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 200px;
}